.contacts-item {
  &__title {
    display: block;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.65;

    @include media(tablet) {
      font-size: 14px;
    }
  }

  &__text {
    display: block;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.65;

    @include media(mobile, up) {
      white-space: nowrap;
    }

    @include media(tablet) {
      font-size: 13px;
    }
  }

  &__link {
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.65;

    @include media(mobile, up) {
      white-space: nowrap;
    }

    @include media(tablet) {
      font-size: 13px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}