.page-logo {
  &__container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 280px;

    &::after {
      content: '';
      display: block;
      padding-top: Min(33%, 92px);
    }
  }

  img {
    @include fill;
    display: block;
    width: 100%;
    height: 100%;
  }
}