<section class="project-ui__section" {{#if id}}id="{{id}}"{{/if}}>
  <header>
    <h2 class="project-ui__section-title">{{title}}</h2>
  </header>
  <div class="project-ui__section-content">
    <ul {{#if section-mode}}class="{{section-mode}}"{{/if}}>
      {{>@partial-block}}
    </ul>
  </div>
</section>
