<nav>
  <ul>
    {{>ui-kit/core/anchor id="colors" label="Colors"}}
    {{>ui-kit/core/anchor id="buttons" label="Buttons"}}
    {{>ui-kit/core/anchor id="form" label="Form Elements"}}
    {{>ui-kit/core/anchor id="popups" label="Popups"}}
    {{>ui-kit/core/anchor id="loaders" label="Loaders"}}
    {{>ui-kit/core/anchor id="widgets" label="Widgets"}}
  </ul>
</nav>
