<div class="ui-widgets__cell" {{#if width}}style="flex-basis:{{width}}%"{{/if}}>
  <div class="ui-widgets__widget{{#if background}} ui-widgets__widget--background{{/if}}">
    <span class="ui-widgets__title">{{title}}</span>
    <div class="ui-widgets__content">
      <div class="ui-widgets__content-inner">
        {{>@partial-block}}
      </div>
    </div>
  </div>
</div>
