.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;

  @include media(mobile) {
    flex-direction: column;

    > * + * {
      margin-top: 10px;
    }
  }

  a {
    &:hover {
      color: $color-primary-hover;
    }
  }
}