<li>
  {{>ui/btn size="large" label=".btn .btn--large"}}
  {{>ui/btn label=".btn"}}
  {{>ui/btn size="small" label=".btn .btn--small"}}
</li>
<li>
  {{>ui/btn color="primary" label=".btn .btn--primary"}}
</li>
<li>
  {{>ui/btn size="w100" label=".btn .btn--w100"}}
</li>