<li class="project-ui__section-row">
  <h3>Inputs</h3>
  {{> form/input label="Фамилия и имя*" placeholder="Фамилия и имя*"}}
  {{> form/input label="Фамилия и имя*" placeholder="Фамилия и имя*" error="Ошибка с текстом"}}
</li>
<li>
  <h3>Textarea</h3>
  {{> form/textarea placeholder="Большое текстовое поле"}}
</li>
<li class="project-ui__section-row">
  <h3>Checkboxes</h3>
  {{> form/checkbox label="Example label"}}
  {{> form/checkbox label="Example label 2" checked=true}}
</li>
<li class="project-ui__section-row">
  <h3>Radio Buttons</h3>
  {{> form/radio label="Example label" id=1 name='radio-example'}}
  {{> form/radio label="Example label 2" id=2 name='radio-example' checked=true}}
</li>
<li class="project-ui__section-row">
  <h3>Select</h3>
  {{>form/select}}
</li>
<li class="project-ui__section-row">
  <h3>Switcher</h3>
  {{>form/switcher id=5 aria-label='Example label'}}
  {{>form/switcher id=6 aria-label='Example label' checked=1}}
</li>
