<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page-title }}</title>
  {{#if theme-color}}{{>core/theme-color color=theme-color}}{{/if}}
  {{>core/favicon}}
  <link rel="stylesheet" href="../css/styles.min.css?v={{cache}}">
  {{#if social-cards}}{{>core/head-social-cards}}{{/if}}
</head>
