{{!UI Kit}}

{{>layout/head page-title="UI Kit"}}

<div class="project-ui">
  <div class="project-ui__container">
    <aside class="project-ui__sidebar">
      {{>ui-kit/core/sidebar}}
    </aside>
    <main class="project-ui__main">
      <header class="project-ui__header">
        <h1 class="project-ui__title">UI Kit</h1>
      </header>
      <div class="project-ui__content">
        {{>ui-kit/core/content}}
      </div>
    </main>
  </div>
</div>

{{>layout/bottom}}
